* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #39297A;
    position: relative;
}

h1 {
    display: flex;
    position: absolute;
    top: 100px;
}

#searchForm {
    display: flex;
    position: absolute;
    top: 200px;
    width: 90%;
    max-width: 600px;
    height: 80px;
    background-color: #434989;
    border-radius: 8px;
}

form input {
    flex: 1;
    height: 100%;
    width: 75%;
    padding: 0 30px;
    border: none;
    outline: 0;
    background: transparent;
    color: white;
    font-size: 18px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
}

form button {
    height: 100%;
    width: 25%;
    padding: 0 40px;
    border: none;
    outline: 0;
    border-radius: 0 8px 8px 0;
    background-color: #FF3828;
    font-size: 18px;
    cursor: pointer;
}

#moreBtn {
    display: none;
    padding: 10px 20px;
    margin: 10px 0 100px;
    border: none;
    outline: 0;
    border-radius: 4px;
    background-color: #FF3828;
    cursor: pointer;
}

#searchResult {
    width: 80%;
    margin: 400px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#searchResult img {
    width: 100%;
    height: 230px;
    object-fit: cover; /* ให้มัน fit กับกรอบไปเลย */
    border-radius: 8px;
}
